<ngx-accordion>
  <ngx-accordion-group>
    <fa-icon [icon]="faBarcode"></fa-icon> Devices
    <ngx-accordion-element>Groups</ngx-accordion-element>
    <ngx-accordion-element>Firmware</ngx-accordion-element>
  </ngx-accordion-group>
  <ngx-accordion-group [startActive]="startActive">
    <fa-icon [icon]="faUser"></fa-icon> Users
    <ngx-accordion-element>Roles</ngx-accordion-element>
  </ngx-accordion-group>
  <ngx-accordion-group>
    <fa-icon [icon]="faChartBar"></fa-icon> Analytics
    <ngx-accordion-element>Data</ngx-accordion-element>
  </ngx-accordion-group>
  <ngx-accordion-group>
    <fa-icon [icon]="faQuestionCircle"></fa-icon> Help & Support
  </ngx-accordion-group>
</ngx-accordion>
