<ngx-accordion>
  <ngx-accordion-group>
    - Devices
    <ngx-accordion-element>Groups</ngx-accordion-element>
    <ngx-accordion-element>Firmware</ngx-accordion-element>
  </ngx-accordion-group>
  <ngx-accordion-group>
    - Users
    <ngx-accordion-element>Roles</ngx-accordion-element>
  </ngx-accordion-group>
  <ngx-accordion-group>
    - Analytics
    <ngx-accordion-element>Roles</ngx-accordion-element>
  </ngx-accordion-group>
  <ngx-accordion-group>
    - Help & Support
  </ngx-accordion-group>
</ngx-accordion>
